.slideshow {
  flex: 1;
  display: flex;
}

.slideshow__link {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  backdrop-filter: blur(2px);
}

.project_1,
.project_4 {
  color: black !important;
}

@media (max-width: 75em) {
  .slideshow {
    flex-direction: column;
    justify-content: center;
  }
}
